// sass --load-path=node_modules assets/scss/custom.scss:assets/css/custom.css --watch
// $theme-colors: (
//   "primary": $primary,
// );


$enable-css-vars: true;
// 부트스트랩 소스 가져오기 전에 변수 재정의
$primary: #DD761C; // 메인 색상
$secondary: #6DC5D1; // 보조 색상
$tertiary: #FEB941; // 서브 색상 1
$quaternary: #FDE49E; // 서브 색상 2


// 부트스트랩 전체 로드
@import "../node_modules/bootstrap/scss/bootstrap";



// 커스텀 변수 재정의
:root {
    // --background-color: var(--bs-primary); /* Bootstrap 컬러 연결 */
    // --default-color: var(--bs-secondary); 
    --heading-color: var(--bs-dark);
    --accent-color: #{$tertiary};
    // --surface-color: var(--bs-light);
    // --contrast-color: var(--bs-dark);
    --secondary-color: #{$primary};
    --tertiary-color: #{$tertiary};
    --quaternary-color: #{$quaternary};
}

:root {
    --nav-color: #45505b;
    /* The default color of the main navmenu links */
    --nav-hover-color: #{$tertiary};
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #{$tertiary};
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/*--------------------------------------------------------------
  # Custom
  --------------------------------------------------------------*/
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h3 {
    //   color: var(--heading-color);
    font-family: 'establishRetrosansOTF';
}

h2,
h4,
h5,
h6 {
    font-family: 'GmarketSansMedium';
}

p,
ul {
    font-family: 'S-CoreDream-3Light';
}

.typed {
    font-family: 'S-CoreDream-3Light';
    font-weight: bold;
}

.about .content ul i {
    color: ($primary);
}

.scroll-top {
    background-color: ($secondary);
}

.section-title h2::after {
    background: ($quaternary);
}

.stats i {
    background-color: ($primary);
}

.skills .progress-bar {
    background-color: ($quaternary);
}

.resume .resume-item {
    border-left: 2px solid ($quaternary);
}

.hero p span {
    letter-spacing: 1px;
    border-bottom: 2px solid ($primary);
}

a {
    color: ($secondary);
}

.section-title h2 {
    font-family: 'establishRetrosansOTF';
}

// portfolio
.portfolio .portfolio-item .portfolio-pdf {
    position: absolute;
    top: 0px;
    right: 0px;
    color: hotpink;
    background-color: rgba($color: #000000, $alpha: 0.8)
}

.swiper-slide {
    height: 658px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.isotope-item button {
    opacity: 0.9;
}

.portfolio-info.show-info {
    opacity: 1 !important;
    bottom: 0 !important;
}

.resume-item a:nth-of-type(2) {
    color: #000000;
}

.resume-item h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.border {
    outline: 5px solid ($tertiary);
}

.social-links a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 0 10px;
  }
  
  .social-links a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: color-mix(in srgb, var(--default-color), transparent 30%);
    transform: translateY(-50%) rotate(-15deg);
    z-index: 1;
    pointer-events: none;
  }
  